
.part3 {
    margin: 120px 130px;
    display: inline-block;
    margin-bottom: 100px;
    

}
.head_text{
    margin: 0px 20px;
}
.part3 .head_text .text01{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.part3 .head_text .text02{
    color: rgb(136, 136, 136);
    margin-bottom: 30px;
}


.part3_1{
    position: relative;
    overflow: hidden; 
}
.part3_1 .part3_text {
    
    color: rgb(255, 255, 255);
    position: absolute;
    left:42px;
    bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    
}

.sc1 {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
}

.sc2 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}


.배송비free{
 
    position: absolute;
    background-color: rgb(112, 211, 125);
    padding: 3px 5px;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    right:120px;
    bottom: 3px;
     
}

.hovertext{
    position: absolute;
}
.hovertext .top{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    left:42px;
    bottom: 80px;
    
    
 
}


.hovertext .bottom{
    color: rgb(255, 255, 255);
    font-size: 15px;
    left:42px;
    line-height: 10px;
    margin: 0px 40px;
}
.top .title, .top .sc1 , .top .sc2, .bottom .sc1  {
    color: rgb(255, 255, 255);
   
}
.part3_1 .hovertext{
    bottom: -170px;
    transition: all .35s;
}
.part3_1:hover .part3_text{
    display: none;

}

.part3_1:hover .hovertext{
    bottom: 120px; 
    z-index: 100;  
}


.main_part3 .part3 .part3_1::after{
    content: "";
    display: block;
    position: absolute;
    bottom:-600px;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
    opacity: 0;
    transition: all .35s;

}

.hoverbg:hover .part3_1::after {
    opacity: 1; 
    bottom: 0;
 
}

.hoverbg{
    display: inline-block;
    margin-left: 20px;
}


.title3{
   margin-bottom: 30px;
  
}
.hovertext .title3{
    color:white;
   
 }

.배송비free3{
    
    position: absolute;
    background-color: rgb(112, 211, 125);
    padding: 3px 5px;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    left:0px;
    bottom: 3px;
     
}

hr{
    margin: 10px 0px;
}


.hovertext .배송비free{
    margin-bottom: 25px;
}

.hovertext .배송비free3{
    margin-bottom: 15px;
}
